<div class="footer__element">
	<h5>Websites and projects</h5>
	<ul class="footer-links">
		<li class="footer-links__link"><a href="http://hendrikwallbaum.de/">Personal Page</a></li>
		<li class="footer-links__link"><a href="http://browserbasedgames.net/">Browser Bades Games</a></li>
		<li class="footer-links__link"><a href="https://github.com/HoverBaum/meilidu-hexo">Meilidu blog theme</a></li>
		<li class="footer-links__link"><a href="https://github.com/HoverBaum/meilidu-hexo">BlankUp Markdown editor</a></li>
		<li class="footer-links__link"><a href="http://xn--der-grne-baum-1ob.net/musichub/">MusicHub</a></li>
	</ul>
</div>
