  <div class="footer__element">
  	<ul class="footer-links">
		<li class="footer-links__link"><a href="/The-gist-of-it">The gist of it</a></li>
		<li class="footer-links__link"><a href="/about">About</a></li>
  	</ul>
  </div>
