
  <div class="widget-wrap">
    <h3 class="widget-title">Website by me</h3>
    <div class="widget">
      	<ul>
			<li><a href="http://hendrikwallbaum.de/">Personal Page</a></li>
			<li><a href="http://lolwishes.com">LoL Wishes</a></li>
			<li><a href="http://browserbasedgames.net/">Browser Bades Games</a></li>
			<li><a href="http://xn--der-grne-baum-1ob.net/musichub/">MusicHub</a></li>
		</ul>
    </div>
  </div>
