
  <div class="widget-wrap">
    <h3 class="widget-title">HoverBaum</h3>
    <div class="widget">
      	<ul>
            <li><a href="/The-gist-of-it">The gist of it</a></li>
			<li><a href="/about">About</a></li>
		</ul>
    </div>
  </div>
